<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- added bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

<!-- My css file -->
    <link rel="stylesheet" type="text/css" href="../static/my_books.css">


    <title>Output</title>
</head>
<body>
        <div id="sign_out_button">
            <a class="btn btn-primary" href="{{ url_for('sign_out') }}" role="button">Sign_out</a>
        </div>

    <h2 id="registration_note">{{ user_message }}</h2>

    {% if gobacktosignin == True %}
        <div id="sign_in_button">
            <a class="btn btn-primary" href="{{ url_for('goto_login') }}" role="button">Sign_in</a>
        </div>
    {% endif %}

    {% if gobacktosearch == True %}
        <div id="sign_in_button">
            <a class="btn btn-primary" href="{{ url_for('go_back_to_search') }}" role="button">Try Again</a>
        </div>
    {% endif %}

    {% if  registration == True %}
        <div id="sign_in_button">
            <a class="btn btn-primary" href="{{ url_for('goto_login') }}" role="button">Sign_in</a>
        </div>
    {% elif registration == False %}
        <div id="sign_in_button">
            <a class="btn btn-primary" href="{{ url_for('register') }}" role="button">Try Again</a>
        </div>
    {% endif %}

    {% if sign_in == False %}
        <div id="sign_in_button">
            <a class="btn btn-primary" href="{{ url_for('goto_login') }}" role="button">Try Again</a>
        </div>
    {% endif %}

    {% if book_search == True %}
        <div class="list-group">
        {% for book in book_data %}        
             <a href="/book_page/{{ book.isbn }}" class="list-group-item list-group-item-action list-group-item-primary">Title: {{ book.title }}&emsp;&emsp;<br>isbn: {{ book.isbn }}&emsp;&emsp;year: {{ book.year }}&emsp;&emsp;Author: {{ book.author }}</a> 
        {% endfor %}
        </div>
    {% endif %}
 </body>
</html>