<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- added bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

<!-- My css file -->
    <link rel="stylesheet" type="text/css" href="../static/my_books.css">


    <title>Book_Review</title>
</head>
<body>
        <div id="sign_out_button">
            <a class="btn btn-primary" href="{{ url_for('sign_out') }}" role="button">Sign_out</a>
        </div>
        
        <h3 id="sign_in"> Book Review </h3>

        <div>
            <form action="/Submit_review" id="book_review" method="post">
                <div id="isbn_review" class="form-group">
                    <br>
                    <label for="inputUserName" class="col-sm-2 col-form-label">isbn #</label>
                    <div class="col-sm-10">
                    <input type="text" value={{ book_isbn }} class="form-control" id="book_isbn" name="book_isbn" placeholder="user_name">
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="book_rating" id="inlineFormCustomSelect" name="book_rating" form"Book_Review">
                        <option selected>Rating ...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    </div>
                </div>
                <div class="form-group"id="submit_review">
                    <label id="textarea" for="book_review_iput"> Book Review for "{{ book_title }}" by {{book_author}} </label>
                    <textarea class="form-control"form="book_review" name="book_review" rows="7" placeholder="type review here"></textarea>
                </div>
                <div id="sign_in_button">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

          <!-- Add the following scripts for bootstrap - Some of bootstraps components require
          JavaScript to function -->
             <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
             <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 </body>
</html>